geocoder
haversine
hnswlib
jupyter
matplotlib
more-itertools
nbdime
networkx
numpy
pandas
pip-tools
py-stringmatching
python-dotenv
requests
rise
scikit-learn
scipy
sparse-dot-topn
unidecode
git+https://github.com/vintasoftware/dedupe.git@fix-808-broadcast-error