dateparser
dedupe
DoubleMetaphone
geocoder
jupyter
matplotlib
nameparser
nbdime
networkx
numexpr
numpy
pandas
phonenumbers
postal
probablepeople
recordlinkage
requests
rise
unidecode
usaddress
pip-tools