dateparser
dedupe
python-dotenv
DoubleMetaphone
geocoder
jupyter
matplotlib
nameparser
nbdime
networkx
numexpr
numpy
pandas
phonenumbers
pip-tools
postal
probablepeople
recordlinkage
requests
rise
unidecode
usaddress