affinegap==1.10
appnope==0.1.0
asn1crypto==0.24.0
attrs==19.1.0
backcall==0.1.0
bleach==2.1.3
BTrees==4.5.0
categorical-distance==1.9
certifi==2019.3.9
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
cryptography==2.3.1
cycler==0.10.0
Cython==0.29.7
datasketch==1.4.3
dateparser==0.7.0
datetime-distance==0.1.3
decorator==4.3.0
dedupe==1.9.6
dedupe-hcluster==0.3.6
dedupe-variable-address==0.0.8
dedupe-variable-datetime==0.1.5
dedupe-variable-fuzzycategory==0.0.1
dedupe-variable-name==0.0.13
defusedxml==0.6.0
DoubleMetaphone==0.1
entrypoints==0.3
fastcluster==1.1.24
future==0.16.0
fuzzycategory==0.0.4
geocoder==1.38.1
gitdb2==2.0.5
GitPython==2.1.11
haversine==2.0.0
highered==0.2.1
html5lib==1.0.1
idna==2.7
infomap==1.0.0b50
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.3
jellyfish==0.7.1
Jinja2==2.10.1
joblib==0.13.2
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-core==4.4.0
jupyter-nbextensions-configurator==0.4.1
kiwisolver==1.0.1
Levenshtein-search==1.4.4
MarkupSafe==1.1.1
matplotlib==3.0.3
mistune==0.8.4
murmurhash3==2.3.5
nameparser==1.0.2
nbconvert==5.4.1
nbdime==1.0.5
nbformat==4.4.0
networkx==2.3
notebook==5.7.8
numpy==1.16.2
pandas==0.24.2
pandocfilters==1.4.2
parseratorvariable==0.0.18
parso==0.4.0
persistent==4.3.0
pexpect==4.7.0
phonenumbers==8.10.10
pickleshare==0.7.5
postal==1.1.7
probableparsing==0.0.1
probablepeople==0.5.4
prometheus-client==0.6.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pycparser==2.18
Pygments==2.3.1
pyhacrf-datamade==0.2.3
PyLBFGS==0.2.0.11
pyparsing==2.4.0
pyrsistent==0.14.11
python-crfsuite==0.9.6
python-dateutil==2.7.3
python-geohash==0.8.5
pytz==2018.5
PyYAML==5.1
pyzmq==18.0.1
qtconsole==4.4.3
ratelim==0.1.6
recordlinkage==0.13.2
redis==3.2.1
regex==2018.7.11
requests==2.21.0
rise==5.4.1
rlr==2.4.5
scikit-learn==0.20.3
scipy==1.2.1
Send2Trash==1.5.0
simplecosine==1.2
simplejson==3.16.0
six==1.11.0
smmap2==2.0.5
terminado==0.8.2
testpath==0.4.2
tornado==6.0.2
traitlets==4.3.2
tzlocal==1.5.1
Unidecode==1.0.23
urllib3==1.24.2
usaddress==0.5.10
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
zope.index==4.4.0
zope.interface==4.5.0
git+https://github.com/mattilyra/LSH.git@da67215a00713a4bb86134ada85f8378971e8578