.rise-enabled {
    background-color: #fff;
}


.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
    font-size: 100%;
}

.rendered_html img.vinta_logo {
    display: inline-block;
    margin-left: 0;
}
