affinegap==1.10
appnope==0.1.0
asn1crypto==0.24.0
backcall==0.1.0
bleach==2.1.3
BTrees==4.5.0
categorical-distance==1.9
certifi==2019.9.11
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
cryptography==2.3.1
cycler==0.10.0
dateparser==0.7.0
datetime-distance==0.1.3
decorator==4.3.0
dedupe==1.9.9
dedupe-hcluster==0.3.6
dedupe-variable-address==0.0.8
dedupe-variable-datetime==0.1.5
dedupe-variable-fuzzycategory==0.0.1
dedupe-variable-name==0.0.13
DoubleMetaphone==0.1
entrypoints==0.2.3
fastcluster==1.1.24
future==0.16.0
fuzzycategory==0.0.4
geocoder==1.38.1
gitdb2==2.0.4
GitPython==2.1.11
haversine==0.4.5
highered==0.2.1
html5lib==1.0.1
idna==2.7
ipykernel==4.8.2
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.0
jedi==0.12.1
jellyfish==0.6.1
Jinja2==2.10
joblib==0.14.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-contrib-core==0.3.3
jupyter-core==4.4.0
jupyter-nbextensions-configurator==0.4.0
kiwisolver==1.0.1
Levenshtein-search==1.4.4
MarkupSafe==1.0
matplotlib==3.0.0
mistune==0.8.3
nameparser==1.0.1
nbconvert==5.3.1
nbdime==1.0.2
nbformat==4.4.0
networkx==2.2
notebook==5.6.0
numexpr==2.6.8
numpy==1.15.1
pandas==0.23.4
pandocfilters==1.4.2
parseratorvariable==0.0.18
parso==0.3.1
persistent==4.3.0
pexpect==4.6.0
phonenumbers==8.9.14
pickleshare==0.7.4
probableparsing==0.0.1
probablepeople==0.5.4
prometheus-client==0.3.1
prompt-toolkit==1.0.15
ptyprocess==0.6.0
pycparser==2.18
Pygments==2.2.0
pyhacrf-datamade==0.2.3
PyLBFGS==0.2.0.11
pyparsing==2.2.0
python-crfsuite==0.9.6
python-dateutil==2.7.3
python-dotenv==0.10.3
python-geohash==0.8.5
pytz==2018.5
PyYAML==3.13
pyzmq==17.1.0
qtconsole==4.3.1
ratelim==0.1.6
recordlinkage==0.13.2
regex==2018.7.11
requests==2.19.1
rise==5.5.1
rlr==2.4.5
scikit-learn==0.19.2
scipy==1.1.0
Send2Trash==1.5.0
simplecosine==1.2
simplegeneric==0.8.1
simplejson==3.16.0
six==1.11.0
smmap2==2.0.4
terminado==0.8.2
testpath==0.3.1
tornado==5.1
traitlets==4.3.2
treeinterpreter==0.2.1
tzlocal==1.5.1
Unidecode==1.0.22
urllib3==1.23
usaddress==0.5.10
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.0
zope.index==4.3.0
zope.interface==4.5.0
